# Query datalakes on S3 with Amazon Athena

Visit the followint AWS blogpost for more detailed instructions: https://aws.amazon.com/blogs/machine-learning/run-sql-queries-from-your-sagemaker-notebooks-using-amazon-athena/

### Install dependencies.
PyAthena is a Python DB API 2.0 (PEP 249) compliant client for the Amazon Athena JDBC driver.

In [5]:
import sys
!{sys.executable} -m pip install PyAthena

Requirement already satisfied: PyAthena in /home/fulu/test/us-accidents-data-engineering/venv/lib/python3.7/site-packages (1.9.0)
Requirement already satisfied: tenacity>=4.1.0 in /home/fulu/test/us-accidents-data-engineering/venv/lib/python3.7/site-packages (from PyAthena) (4.12.0)
Requirement already satisfied: future in /home/fulu/test/us-accidents-data-engineering/venv/lib/python3.7/site-packages (from PyAthena) (0.16.0)
Requirement already satisfied: botocore>=1.5.52 in /home/fulu/test/us-accidents-data-engineering/venv/lib/python3.7/site-packages (from PyAthena) (1.13.41)
Requirement already satisfied: boto3>=1.4.4 in /home/fulu/test/us-accidents-data-engineering/venv/lib/python3.7/site-packages (from PyAthena) (1.10.41)
Requirement already satisfied: six>=1.9.0 in /home/fulu/test/us-accidents-data-engineering/venv/lib/python3.7/site-packages (from tenacity>=4.1.0->PyAthena) (1.13.0)
Requirement already satisfied: docutils<0.16,>=0.10 in /home/fulu/test/us-accidents-data-engineering/venv/lib/python3.7/site-packages (from botocore>=1.5.52->PyAthena) (0.15.2)
Requirement already satisfied: python-dateutil<2.8.1,>=2.1; python_version >= "2.7" in /home/fulu/test/us-accidents-data-engineering/venv/lib/python3.7/site-packages (from botocore>=1.5.52->PyAthena) (2.8.0)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /home/fulu/test/us-accidents-data-engineering/venv/lib/python3.7/site-packages (from botocore>=1.5.52->PyAthena) (0.9.4)
Requirement already satisfied: urllib3<1.26,>=1.20; python_version >= "3.4" in /home/fulu/test/us-accidents-data-engineering/venv/lib/python3.7/site-packages (from botocore>=1.5.52->PyAthena) (1.25.7)
Requirement already satisfied: s3transfer<0.3.0,>=0.2.0 in /home/fulu/test/us-accidents-data-engineering/venv/lib/python3.7/site-packages (from boto3>=1.4.4->PyAthena) (0.2.1)

### Connect to Athena and run SQL queries against your datalake on S3.

In [6]:
from pyathena import connect
import pandas as pd
conn = connect(s3_staging_dir='s3://athena-staging-fulu',
               region_name='eu-west-1')

df = pd.read_sql("SELECT * FROM udacity.accidents limit 10;", conn)
df

,accident_id,datetime,severity,distance,description,temperature,wind_speed,precipitation,airport_code,city_id,weather_condition_id,year,month
0,A-45835,2016-07-01,3,0.0,#1 lane closed due to accident on I-405 Southb...,64.9,5.8,None,KVNY,NaN,93,2016,7
1,A-45836,2016-07-01,2,0.0,Right hand shoulder blocked due to accident on...,64.9,4.6,None,KBUR,NaN,93,2016,7
2,A-45837,2016-07-01,2,0.0,Right hand shoulder blocked due to accident on...,64.9,4.6,None,KBUR,9.534827e+11,93,2016,7
3,A-45838,2016-07-01,3,0.0,Right hand shoulder blocked due to accident on...,66.9,None,None,KCQT,9.534827e+11,3,2016,7
4,A-45839,2016-07-01,3,0.0,Accident on I-5 Southbound at Exit 142 Colorad...,66.0,None,None,KCQT,9.534827e+11,8589934592,2016,7
5,A-45840,2016-07-01,2,0.0,Accident on Carmenita Rd at Leffingwell Rd.,68.0,6.9,None,KFUL,1.494649e+12,8589934592,2016,7
6,A-45841,2016-07-01,3,0.0,Accident on I-210 Eastbound at Exit 34 Evergre...,69.8,None,None,KEMT,NaN,81,2016,7
7,A-45842,2016-07-01,3,0.0,Accident on I-15 Southbound at Exit 148 Amargo...,78.8,9.2,None,KVCV,1.460289e+11,93,2016,7
8,A-45843,2016-07-01,3,0.0,Two lanes blocked and right hand shoulder bloc...,64.4,None,None,KF70,1.468879e+12,93,2016,7
9,A-45844,2016-07-01,3,0.0,Right hand shoulder blocked due to accident on...,66.0,None,None,KSMO,9.534827e+11,8589934592,2016,7

### Example queries

1. Get the number of accidents in May 2016.

In [3]:
df = pd.read_sql("SELECT COUNT(*) FROM udacity.accidents WHERE year='2016' AND month='5';", conn)
df

   _col0
0   3760

In [11]:
df = pd.read_sql("SELECT * FROM udacity.cities WHERE city_id=8589934593;", conn)
df

      city_id city_name state state_code total_population
0  8589934593    Dayton    OH         OH           140597