# Query datalakes on S3 with Amazon Athena

Visit the followint AWS blogpost for more detailed instructions: https://aws.amazon.com/blogs/machine-learning/run-sql-queries-from-your-sagemaker-notebooks-using-amazon-athena/

### Install dependencies.
PyAthena is a Python DB API 2.0 (PEP 249) compliant client for the Amazon Athena JDBC driver.

In [1]:
import sys
!{sys.executable} -m pip install PyAthena

Collecting PyAthena
  Downloading https://files.pythonhosted.org/packages/5c/d0/61c76ff60c847e727966579259a2d1d8fdce07162086ff47b066442bf18c/PyAthena-1.9.0-py2.py3-none-any.whl
Collecting botocore>=1.5.52 (from PyAthena)
  Downloading https://files.pythonhosted.org/packages/49/e0/a9a53656126a635120c0f7eaee3ff3b26a4a08596d10e7192fd91ce19e5c/botocore-1.13.41-py2.py3-none-any.whl (5.8MB)
    100% |████████████████████████████████| 5.8MB 1.5MB/s ta 0:00:01    35% |███████████▍                    | 2.1MB 1.9MB/s eta 0:00:03    70% |██████████████████████▋         | 4.1MB 2.2MB/s eta 0:00:01
Requirement already satisfied: future in /home/fulu/test/us-accidents-data-engineering/venv/lib/python3.7/site-packages (from PyAthena) (0.16.0)
Requirement already satisfied: tenacity>=4.1.0 in /home/fulu/test/us-accidents-data-engineering/venv/lib/python3.7/site-packages (from PyAthena) (4.12.0)
Collecting boto3>=1.4.4 (from PyAthena)
  Downloading https://files.pythonhosted.org/packages/39/8b/250778bc5fd4b9a91d7916f8729b346931be419052130548617139247ba6/boto3-1.10.41-py2.py3-none-any.whl (128kB)
    100% |████████████████████████████████| 133kB 1.7MB/s ta 0:00:01
Requirement already satisfied: docutils<0.16,>=0.10 in /home/fulu/test/us-accidents-data-engineering/venv/lib/python3.7/site-packages (from botocore>=1.5.52->PyAthena) (0.15.2)
Collecting jmespath<1.0.0,>=0.7.1 (from botocore>=1.5.52->PyAthena)
  Using cached https://files.pythonhosted.org/packages/83/94/7179c3832a6d45b266ddb2aac329e101367fbdb11f425f13771d27f225bb/jmespath-0.9.4-py2.py3-none-any.whl
Collecting python-dateutil<2.8.1,>=2.1; python_version >= "2.7" (from botocore>=1.5.52->PyAthena)
  Using cached https://files.pythonhosted.org/packages/41/17/c62faccbfbd163c7f57f3844689e3a78bae1f403648a6afb1d0866d87fbb/python_dateutil-2.8.0-py2.py3-none-any.whl
Requirement already satisfied: urllib3<1.26,>=1.20; python_version >= "3.4" in /home/fulu/test/us-accidents-data-engineering/venv/lib/python3.7/site-packages (from botocore>=1.5.52->PyAthena) (1.25.7)
Requirement already satisfied: six>=1.9.0 in /home/fulu/test/us-accidents-data-engineering/venv/lib/python3.7/site-packages (from tenacity>=4.1.0->PyAthena) (1.13.0)
Collecting s3transfer<0.3.0,>=0.2.0 (from boto3>=1.4.4->PyAthena)
  Using cached https://files.pythonhosted.org/packages/16/8a/1fc3dba0c4923c2a76e1ff0d52b305c44606da63f718d14d3231e21c51b0/s3transfer-0.2.1-py2.py3-none-any.whl
Installing collected packages: jmespath, python-dateutil, botocore, s3transfer, boto3, PyAthena
  Found existing installation: python-dateutil 2.8.1
    Uninstalling python-dateutil-2.8.1:
      Successfully uninstalled python-dateutil-2.8.1
Successfully installed PyAthena-1.9.0 boto3-1.10.41 botocore-1.13.41 jmespath-0.9.4 python-dateutil-2.8.0 s3transfer-0.2.1

### Connect to Athena and run SQL queries against your datalake on S3.

In [7]:
from pyathena import connect
import pandas as pd
conn = connect(s3_staging_dir='s3://athena-staging-fulu',
               region_name='eu-west-1')

df = pd.read_sql("SELECT * FROM udacity.accidents limit 10;", conn)
df

,accident_id,datetime,city,state_code,state,airport_code,start_time,end_time,timezone,severity,temperature,year,month
0,A-426,2016-03-01,Columbus,OH,OH,KTZR,2016-03-01 05:05:42,2016-03-01 05:35:42,US/Eastern,2,34.0,2016,3
1,A-427,2016-03-01,Miamisburg,OH,OH,KMGY,2016-03-01 06:14:44,2016-03-01 06:44:44,US/Eastern,2,37.9,2016,3
2,A-428,2016-03-01,Dayton,OH,OH,KDAY,2016-03-01 07:30:18,2016-03-01 08:00:18,US/Eastern,2,37.0,2016,3
3,A-429,2016-03-01,Columbus,OH,OH,KTZR,2016-03-01 07:31:53,2016-03-01 08:01:53,US/Eastern,2,35.6,2016,3
4,A-430,2016-03-01,Columbus,OH,OH,KCMH,2016-03-01 07:46:03,2016-03-01 08:16:03,US/Eastern,2,37.0,2016,3
5,A-431,2016-03-01,Columbus,OH,OH,KTZR,2016-03-01 08:16:30,2016-03-01 08:46:30,US/Eastern,3,33.8,2016,3
6,A-432,2016-03-01,Fairborn,OH,OH,KFFO,2016-03-01 10:06:47,2016-03-01 10:36:47,US/Eastern,2,46.6,2016,3
7,A-433,2016-03-01,Batavia,OH,OH,KI69,2016-03-01 10:19:48,2016-03-01 10:49:48,US/Eastern,2,54.1,2016,3
8,A-434,2016-03-01,Milford,OH,OH,KI69,2016-03-01 10:41:37,2016-03-01 11:11:37,US/Eastern,2,54.3,2016,3
9,A-435,2016-03-01,Sardinia,OH,OH,KI69,2016-03-01 11:12:57,2016-03-01 11:42:57,US/Eastern,2,53.6,2016,3

### Example queries

In [12]:
df = pd.read_sql("SELECT COUNT(*) FROM udacity.accidents WHERE year='2016' AND month='5';", conn)
df

   _col0
0   3760